name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install requirements
      run: sudo apt install liburing-dev
    - name: Create build dir
      run: mkdir -p build
    - name: config
      run: cmake -S . -B build
    - name: build
      run: cmake --build build
    - name: unittest
      run: ctest --test-dir build --verbose
